#footer-section {
  background-color: rgb(26, 66, 113);
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-left i {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.footer-links a {
  color: white;
  text-decoration: underline;
  margin: 0 5px;
  font-weight: 500;
}

.footer-links a:hover {
  color: #ffcc00;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    margin-top: 10px;
  }
}
