.full-width-navbar{
    background-color: rgba(5, 47, 88, 0.801);
    outline: 2px solid whitesmoke;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

#mobile-nav{
    display: none;
}

.nav-logo-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-logo{
    width: 6%;
    height: auto;
    border-radius: 50%;
}

.company-name{
    font-size: 20px;
    font-weight: 700;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-size: 13px;
    font-weight: 500;
}

.nav-menu div{
    padding: 2px 5px;
    border-radius: 2px;
    transition: all ease .5s;
}

.nav-menu div:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

.nav-socials{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-socials div i{
    color: rgb(27,67,114) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.nav-socials div{
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-socials div:hover{
    cursor: pointer;
}

/* mobile */
@media only screen and (max-width: 768px){

    #desktop-navbar{
        display: none;
    }

    #mobile-nav{
        display: flex;
        position: relative;
    }

    #mobile-nav-logo{
        width: 15%;
    }

    #mobile-navbar{
        display: flex;
        justify-content: space-between;
    }

    .kebab-menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .kebab-menu i{
        display: flex;
        align-items: center;
        font-size: 25px;
    }

    .menu{
        overflow-x: hidden;
    }

    .menu, .show-menu{
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(27,67,114);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 72px;
        z-index: 100000;
        width: 0;
        transition: all ease .5s;
    }

    .show-menu{
        padding: 4px;
        width: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    .mobile-nav-menu{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .menu-items{
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }

    .menu-items div{
        padding: 5px 2px;
        border-radius: 2px ;
        transition: all ease .5s;
    }

    #mobile-nav-socials{
        padding: 4px 3px;
    }
}

/* portrait tablet */
@media only screen and (min-width:768px) and (max-width:1024px){

    .menu, .show-menu{
        margin-top: 120px;
    }
}

/* iPad air tablet */
@media only screen and (min-width:820px) and (max-width:1180px){

    
}
