.full-width-navbar{
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgba(5, 47, 88, 0.801);
    outline: 2px solid whitesmoke;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.nav-logo-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-logo{
    width: 6%;
    height: auto;
    border-radius: 50%;
}

.company-name{
    font-size: 20px;
    font-weight: 700;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-size: 13px;
    font-weight: 500;
}

.nav-menu div{
    padding: 2px 5px;
    border-radius: 2px;
    transition: all ease .5s;
}

.nav-menu div:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

.nav-socials{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-socials div i{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.nav-socials div i:hover{
    color: blue;
}

.nav-socials div{
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-socials div:hover{
    cursor: pointer;
}